


body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
}

footer {
  background-color: rgb(69, 69, 69);
  margin-top: auto;
}

footer img {
  filter: invert(1);
  max-height: 65px;
  margin: 30px 0;
  max-width: 90%
}
